<div class="metadata">
    <div class="avatar">
        <img [src]="post.author.avatar">
    </div>
    <div class="author">
        <!--
        |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
        | Red Path                                                        |
        |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
        | Un clic sobre el autor debería navegar a su colección de posts. |
        |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
        -->
        <span class="name blink-font" (click)="abrirColeccion(post)">{{ post.author.name }}</span>
        <!--
        |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
        | Blue Path                                                                     |
        |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
        | Una vez tengas creado el pipe FromNowPipe, úsalo con la fecha de publicación. |
        |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
        -->
        <span class="date">{{ post.publicationDate | fromPublicationDate }}</span>
    </div>

        <!--
        |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
        | Broken White Path                                                             |
        |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
        | Un click sobre el texto editar llama a editarPost pasandole el post           |
        |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
        -->
        <div>
            <button (click)="editarPost(post)">Editar post</button> 
            
        </div>

</div>
<div class="post">
    <h3>{{ post.title }}</h3>
    <img *ngIf="post.media" [src]="post.media" class="u-max-full-width">
    <div class="html-text" [innerHtml]="plainTextToHtml(post.intro)"></div>
    <hr>
    <div class="html-text" [innerHtml]="plainTextToHtml(post.body)"></div>
    <!--
    |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
    | Yellow Path                                                              |
    |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
    | Suscribe el componente CategoryBoxComponent al evento que hayas definido |
    | en él para notificar los clics sobre las categorías del post.            |
    |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
    -->
    <!--<category-box [categories]="post.categories" (click)="abrirCategorias(category)"></category-box>-->
    <category-box [categories]="post.categories" (verCategoria)="desplegarCategoria($event)"></category-box>
    
    <div>
        <button (click)="likearPost(post)" post.likes>{{post.likes}} - I like it!</button>         
    </div>

</div>
